html{
	background-color: #F2E0D6;
	font-family: "Helvetica", "Verdana", sans-serif;
}
body{
	height: 1500px;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 3rem;
	color: #fff;
	box-shadow: 0 0 25px -2px #000;
}
.main-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1{
	margin-bottom:10px;
	color:#800080;
	
}
h3{
	margin: 50px;
	color:#800080;
}


p{
	color:#000000;
}


p1{
	margin: 50px;
	font-size: 28px;
	color:#800080;
}
#p2{
	margin-bottom:10px;
	font-size: 14px;
	color:#000000;
}
a{
	margin-bottom:100px;
}