html{
	background-color: #F2E0D6;
	font-family: "Helvetica", "Verdana", sans-serif;
}
body{
	height: 600px;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 3rem;
	background-color: #E9967A;
	color: #fff;
	}
.main-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1{
	margin-bottom:10px;
	color:#800080;
	
}
h3{
	margin: 50px;
	color:#800080;
}


p{
	color:#000000;
}

.button {
	width:200px;
	margin-top:50px;
	padding: 15px 25px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #9370DB;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #D8BFD8;
}

.button:hover {background-color: #9370DB}

.button:active {
	background-color: #9370DB;
	box-shadow: 0 5px #D8BFD8;
	transform: translateY(4px);
}
p1{
	margin: 50px;
	font-size: 28px;
	color:#800080;
}
#p2{
	font-size: 14px;
	color:#000000;
}